body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

}

a {
  color: #e6035a;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #2f3f57;
}

span {
  left:100px;
  font-style: italic;
}

.barreFleap{
  background-color: #e20459;
  text-align: center;
  background-image: url("../img/books.png");
  background-size: 9.1%;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1{
  margin-bottom: 60px;
  font-family: 'Lora'!important;
  font-style: italic!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 2%;
  margin-top: 2%;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

.description{
  margin: auto;
  text-align: center;
  width: 65%;
}

.iphoneX{
  margin-left: -74%;
  margin-top: 40%;
}

.macbook{
  width: 100%;
  height:auto;
}

.text-muted{
  margin-top:7%;
}

.tabTeamMobile{
  visibility: hidden;
  display: none;
  position:absolute; top:-999px; left:-9999px;
}

section#team{
  padding:2%;
}

.device-mockup{
  margin-left: -10%;
}


@media (max-width: 1000px){
  #mainNav .navbar-brand{
    color: black!important;
  }

  form input{
    width: 100%!important;
  }

  .iphoneX{
    width:120%!important;
    margin:auto!important;
    margin-left: -16%!important;
  }

  .device{
    margin-left:10%!important;
  }

  table{
    width:70%!important;
  }

  .roundedImage{
    width:100%!important;
    margin-bottom:20%!important;
  }

  section#team{
    padding:3%!important;
  }

  .tabTeam{
    visibility: hidden!important;
    display: none!important;
    position:absolute; top:-999px; left:-9999px!important;
  }

  .tabTeamMobile{
    visibility: visible!important;
    position: relative!important;
    display: block!important;
    top: 0!important;
    left:0!important;
  }

  .feature-item h3{
    font-size: 25px!important;
  }

  section{
    padding: 10%!important;
    word-wrap : break-word;
  }

  header.masthead {
    background: #7b4397!important;
    background: -webkit-linear-gradient(to bottom, #2f3f57, #e20459)!important;
    background : linear-gradient(to bottom, #2f3f57, #e20459)!important;
  }
}

@media (max-width: 1200px){
  section h2{
    font-size: 25px;
  }

  .roundedImage{
    margin-right: auto!important;
    margin-left: auto!important;
    width: 25%;
    display: inline-block;
    border: 10px;
    border-color: black;
  }

  .iphoneX{
    width: 180%;
    margin-left: -60%;
  }

  .masthead{
    background-size: 110%!important;
  }

}

@media (max-width: 1700px){
  .description p{
    font-size: 140%;
    position: relative;
    display: inline-block;
    color: #6c757d;
    overflow: auto;
  }

  .tabTeam{
    width:80%;
    margin: auto;
  }

  .flotte{
    float:left;
  }


}

@media (min-width: 1701px) {
  .description p{
    float: right;
    margin-top: 3%;
    position: relative;
    display: inline-block;
    color: #6c757d;
    overflow: auto;
    font-size: 150%;
  }

}

.container2.img{
  margin-bottom: 10px;
}


#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: white;
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 12px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #e6035a !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #e6035a;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #e6035a;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #e6035a;
  }

}

#mc_embed_signup{
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: #2f3f57;
  background: url("../img/home_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  /*#7b4397, #dc2430 */
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 40px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {

  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

.roundedImage{
  position: relative;
  width: 40%;
  display: inline-block;
  margin-bottom: 6%;
  margin-top: 6%;
}

.roundedImage:hover{
  opacity: 120%;
}

table{
  width: 60%;
  margin: auto;
}

section.download {
  position: relative;
  padding: 150px 0;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 50px;
  }
}

section.features .section-heading {
  margin-bottom: 50px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to top, #e40359, #2f3f57);
  background: linear-gradient(to top, #e40359, #2f3f57);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.cta {
  position: relative;
  padding: 250px 0;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li img{
  width:80%;
}

section.contact ul.list-social li img:hover{
  opacity: 0.5;
}

.list-inline-item{
  margin-right:2%;
  margin-left:2%;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li,
a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active{
  text-decoration: none!important;
}

.bg-primary {
  color : white;
  background: red;
  background: -webkit-linear-gradient(#e20459, #e20459);
  background: linear-gradient(#e20459,#e20459);
}

.text-primary {
  color: #e6035a;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  border-color: white;
  background-color: white;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

form{
  width: 80%;
  text-align: center;
  margin: auto;
}

fieldset{
  background-color: rgb(247,247,247);
  border-radius: 5px;
  margin-bottom: 5px;
  border-color: #CCC;
  border: 1px;
  border-style: solid;
}

fieldset.legend{
  padding: 0px 10px;
  color: #237DAC;
  border-color: #CCC;
  border-left: 1px;
  border-right: 1px;
}

input,select{
  color: #414A51;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  margin-left: 1%;
  font-size: 14px;
  width: 48%;
  border-color: #CCC;
  border: 1px;
  transition: all 0.25s linear;
  border-radius: 10px;
}

input:focus,select:focus{
  width: 39%;
  box-shadow: 0 0 5px #6495ED;
}

input[type="submit"],input[type="button"],input[type="reset"]{
  background-color: #2f3f57;
  color: #FFF;
  box-shadow: 0 0 5px #6495ED;
  width: 50%;
  letter-spacing: 1px;
  border-radius: 50px;
  transition: all 0,2s linear;
  margin-bottom: 20px;
  border-color: #DDEEFF;
  border: 1px;
  border-style: solid;
  margin-top: 2%;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 5px #6495ED;
}

input[type="number"]{
  -moz-appearance: textfield;
}

fieldset:hover{
  box-shadow: 0pt 5px 5px rgba(105, 108, 109, 0,7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
}
